body {
       font-family: Arial, sans-serif;
       background-color: #FFCDD2;
       color: #333;
       text-align: center;
        background-image: url("brown.png");
    background-size: cover;
    background-repeat: no-repeat;
   }

h2 {  
    text-align: center;
    color: #0F0F0F;
}
ul {
    list-style-type: square; 
}
.p3 {
  font-family: "Lucida Console", "Courier New", monospace;
}
div { 
background-color: lightgrey;
       width: 300px; 
border: 15px solid black;
       padding: 50px;
       marging: 20px; 
font-size: 2.5em;
}
h1, h2 {
       text-align: center;
}
